---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import platformIcon from "../images/icon.png";
import PlatformSection from "../components/PlatformSection.astro";
import DownloadButton from "../components/DownloadButton.astro";
import { PLATFORM_DOWNLOADS } from "../config/downloads";
---

<MainLayout
    title="Download Handy"
    description="Download Handy - the free and open source speech to text application for Windows, macOS, and Linux"
>
    <div class="flex flex-col items-center gap-6 w-full">
        <Image
            src={platformIcon}
            width={512}
            class={"w-64"}
            alt="The handy logo, with a pink rounded circle as the background, with a white cartoon smiling hand shape in the middle."
        />

        <h1>Download Handy</h1>

        <div class="flex flex-col w-64 sm:w-80 gap-6">
            <PlatformSection title="Mac">
                {
                    PLATFORM_DOWNLOADS.mac.map((download) => (
                        <DownloadButton
                            href={download.href}
                            label={download.label}
                            extension={download.extension}
                        />
                    ))
                }
            </PlatformSection>

            <PlatformSection title="Windows">
                {
                    PLATFORM_DOWNLOADS.windows.map((download) => (
                        <DownloadButton
                            href={download.href}
                            label={download.label}
                            extension={download.extension}
                        />
                    ))
                }
            </PlatformSection>

            <PlatformSection title="Linux (x64)">
                {
                    PLATFORM_DOWNLOADS.linux.map((download) => (
                        <DownloadButton
                            href={download.href}
                            label={download.label}
                            extension={download.extension}
                        />
                    ))
                }
            </PlatformSection>
        </div>
    </div>
</MainLayout>
