---
// import Header from "../components/Header.astro";
import Header from "../components/Header.tsx";
import HandyHand from "../components/logo/HandyHand";
import "../styles/global.css";

export interface Props {
    title?: string;
    description?: string;
    showHero?: boolean;
    heroTitle?: string;
    heroSubtitle?: string;
}

const {
    title = "Handy",
    description = "Handy is a cross platform speech to text application for your computer",
    showHero = false,
    heroTitle,
    heroSubtitle,
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="flex flex-col max-w-[680px] mx-auto items-center gap-12 px-4">
        <Header currentPath={currentPath} client:load />

        {
            showHero && (
                <div class="flex gap-8 items-center">
                    <HandyHand className="w-24 sm:w-36 shrink-0" />
                    <div class="flex flex-col gap-1 sm:gap-[10px]">
                        <h1>{heroTitle}</h1>
                        {heroSubtitle && (
                            <h3 class="text-handy-text/70">{heroSubtitle}</h3>
                        )}
                    </div>
                </div>
            )
        }

        <main class="w-full">
            <slot />
        </main>
    </body>
</html>
